PROJECT_ENDPOINT=https://<foundry>.services.ai.azure.com/api/projects/<project>
PROJECT_RESOURCE_ID=/subscriptions/<subscription-id>/resourceGroups/<resource group name>/providers/Microsoft.CognitiveServices/accounts/<foundry>/projects/<project>
AZURE_OPENAI_ENDPOINT=https://<foundry>.openai.azure.com/
AZURE_OPENAI_API_KEY=
AI_SERVICES_KEY=
AZURE_OPENAI_GPT_DEPLOYMENT=gpt-5-mini
CHAT_DEPLOYMENT=gpt-5
AZURE_SEARCH_ENDPOINT=https://<search-service>.search.windows.net
AZURE_SEARCH_INDEX=ks-disneymap-user-guide-index
AZURE_SEARCH_API_KEY=
AI_SERVICES_SUBDOMAIN_URL=https://<foundry>.services.ai.azure.com
STORAGE_CONNECTION_STRING=ResourceId=/subscriptions/<subscription-id>/resourceGroups/<resource group name>/providers/Microsoft.Storage/storageAccounts/<storage-account>/;
AZURE_TENANT_ID=<tenant-id>