PROJECT_ENDPOINT=https://<ai-services-foundry>.services.ai.azure.com/api/projects/<project>
PROJECT_RESOURCE_ID=/subscriptions/<subscription-id>/resourceGroups/<resource group name>/providers/Microsoft.CognitiveServices/accounts/<ai-services-foundry>/projects/<project>
AZURE_OPENAI_ENDPOINT=https://<aoai-foundry>.openai.azure.com/
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_GPT_DEPLOYMENT=gpt-5-mini
CHAT_DEPLOYMENT=gpt-5
AI_SERVICES_URL=https://<ai-services-foundry>.services.ai.azure.com
AI_SERVICES_KEY=
AZURE_SEARCH_ENDPOINT=https://<search-service>.search.windows.net
AZURE_SEARCH_INDEX=ks-disneymap-user-guide-index
AZURE_SEARCH_API_KEY=
AZURE_BLOB_CONNECTION_STRING=
AZURE_BLOB_CONTAINER_NAME=
AZURE_TENANT_ID=<tenant-id>